<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] -报告设计器</title>
    <link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
    </header>
    <div class="container-fluid">
      <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        @*<div class="container">
            &copy; 2022 - N6.Bsjc.ReportDocumentViewer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>*@
    </footer>
    <script src="~/js/thirdparty.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     @RenderSection("Scripts", required: false)
</body>
</html>